.extra-main {
  position: fixed;
  top: 0;
  height: 100vh;
  width: calc(100% - 40px);
  padding: 20px;
  border: 1px solid red;
  background-color: #282c34;
  z-index: 2000;
}
.close-extra-main {
  position: absolute;
  top: 10px;
}
