.mobile-header {
  position: fixed;
  top: 0;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #13131d;
  color: white;
  padding: 20px 15px;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0784313725);
}

.header-left h1 {
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.header-right {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-right a {
  color: white;
  text-decoration: none;
}
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
}
.login-btn svg {
  width: 15px;
  fill: white;
}
.login-btn {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-color: #212e48;
  box-shadow: 10px 10px 19px #16018a05, -10px -10px 19px #0b016412;
  color: white;
  border-radius: 6px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}
.login-btn:hover {
  background-color: #00a3ff;
  transform: translateY(-5px);
}
